@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'reg';
  src: url('/fonts/ClashDisplay-Regular.otf');
}

@font-face {
  font-family: 'bold';
  src: url('/fonts/ClashDisplay-Bold.otf');
}

@font-face {
  font-family: 'semibold';
  src: url('/fonts/ClashDisplay-Semibold.otf');
}

@font-face {
  font-family: 'medium';
  src: url('/fonts/ClashDisplay-Medium.otf');
}

@font-face{
  font-family:'satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('woff2');
}

html {
  background: #fff;
  color-scheme: light;
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: 'satoshi', sans-serif !important;
}
